$blue: #0099ce;
$blue2: #58B7E1;
$pale: #d4f2ff;
$pale2: #f6fcff;
$black: #484f4f;
$grey: #99a9a9;
$grey2: #636F6F;
$white: #fff;
$yellow: #F2E445;
// $white: #f5f5f5;
// $white: rgb(188, 134, 134); 

$color-theme-main: $blue;
$color-theme-pale: $pale;
$color-theme-pale2: $pale2;

$color-base-text: $black;
$color-base-secondary: $grey;
$color-base-third: $white;

$color-background-white: $white;

$color-button-background: $yellow;

$color-table-row: $grey;
$color-table-col: $blue2;
$color-table-boder: $grey2;
$color-table-font: $white;

$color-list-latin: $black;

