@use "setting" as *;

.p-access__inner {
  @include mq("md") {
    display: flex;
  }
}

.p-access__map {
  aspect-ratio: 900 / 700;
  width: 100%;
  height: 100%;
  @include mq("md") {
    aspect-ratio: 900 / 450;
    max-width: rem(900);
    max-height: rem(450);
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}

.p-access__aside {
  margin-top: rem(100);
  @include mq("md") {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-left: 1.75%;
  }
}

.p-access__howto {
  text-align: center;
}

.p-access__label {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-base-third;
  background-color: $color-theme-main;
  border-radius: 50px;
  width: 100%;
  padding: rem(10) 0;
}

.p-access__label-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: rem(30);
  height: rem(30);
}

.p-access__label-img--train {
  background-image: url("../images/top/train.svg");
}

.p-access__label-img--car {
  background-image: url("../images/top/car.svg");
}

.p-access__label-text {
  font-size: rem(16);
  font-weight: $medium;
  margin-left: 1em;
}

.p-access__label:not(:first-of-type) {
  margin-top: rem(50);
}

.p-access__label + .p-access__text {
  margin-top: rem(12);
}

.p-access__text + .p-access__text {
  margin-top: 0;
}

.p-access__address {
  margin-top: rem(50);
  @include mq("md") {
    margin-top: auto;
  }
}

.p-access__address > p:not(:first-of-type) {
  font-size: rem(14);
}

