@use "setting" as *;

.p-tabel {
  border-collapse: collapse;
  table-layout: fixed;
  border-spacing: 0;
  text-align: center;
}

.p-table__class,
.p-table__age,
.p-table__price {
  padding: rem(20) rem(10);
  border: 1px solid $color-table-boder;
}

.p-table__class {
  background-color: $color-table-col;
  color: #fff;
}
.p-table__age {
  background: $color-table-row;
  color: #fff;
}

.p-table__price {
  font-size: rem(20);
  font-weight: $medium;
}

.p-table__border-none {
  background: transparent;
  border: none;
}
